@font-face {
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/notosans/v11/o-0IIpQlx3QUlC5A4PNr6zRAW_0.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/sourcesanspro/v18/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNa7lqDY.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }

* {
	font-family: 'Source Sans Pro', serif;
	line-height: 2;
	letter-spacing: 1px;
}


/* The hero image */

body {
	color: #818181;
	/* font: 400 15px 'Source Sans Pro', serif; */
}

#index {
	background-image: url("../img/deal.jpeg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: top;
}

.logo {
	margin: 3% auto auto 3%;
}

.cells{
	display: inline-flex;
	flex-wrap: nowrap;
	margin: 20px 0;
}

.cells .cell{
	background-color: #e8f6fd;
	border-radius: 20px;
	height: 150px;
	width: 250px;
	margin: 15px;
}

.cells .cell:hover{
	cursor: pointer;
	background-color: rgb(190, 230, 248);
	-webkit-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.modal {
	z-index: 10000;
	overflow: auto;
	overflow-y: auto;
}

.modal p {
	text-align: left;
	white-space: pre-line;
	color: rgb(65, 63, 77);
	font-weight: 400;
}
.cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card:nth-child(odd){
	display: flex;
	align-items: center;
	width: 50%;
	margin: 10px 0;
}
.card:nth-child(even){
	display: flex;
	align-items: center;
	width: 25%;
	margin: 10px 0;
}
.card .cardIcon{
	width: 150px;
	height: 150px;
	background-color: #45b4e6;
	border-radius: 100px;
	align-items: center;
    justify-content: center;
}
.iconPos{
	margin-top: 23px;
	filter: invert(1);
}
.iconPos .title{
	color: black;
	font-weight: bold;
}
.card .serviceCard{
	text-align: left;
}
.card .serviceCard li{
	letter-spacing: 0!important;
	padding-left: 20px;
}
.rounded-circle{
	width:50px;
	height:50px;
}

.serviceCard .title{
	display: none;
}
@media only screen and (min-width:1126px) {
	.cells{
		width:800px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.cells .cell{
		height: 200px;
		width: 350px;
	}
	.card:nth-child(odd){
		flex-direction: column;
		width:26%;
	}
	.card:nth-child(even){
		flex-direction: column;
		width:20%;
	}
	.card .serviceCard{
		margin-top:20px;
	}
	.card .serviceCard li{
		padding-left:0;
		line-height: 20px;
		font-size: 12pt;
	}
}
@media only screen and (max-width:1126px) {
	.cells{
		flex-wrap: wrap;
		justify-content: center;
	}
	.cells .cell{
		height: 200px;
		width: 350px;
	}
	.card:nth-child(odd){
		flex-direction: column;
		width:25%;
	}
	.card:nth-child(even){
		flex-direction: column;
		width:20%;
	}
	.card .serviceCard{
		margin-top:20px;
	}
	.card .serviceCard li{
		padding-left:0;
		line-height: 20px;
		font-size: 10pt;
	}
}

 
@media only screen and (max-width:990px) {
	.logo {
		margin: 5% auto;
		display: block;
		width: 80%;
		height: auto;
	}
	.card:nth-child(odd), .card:nth-child(even){
		width:45%;
	}
}

#ind {
	background: rgba(255, 255, 255, 0.5);
	margin-top: 5%;
	border-radius: 3%;
	height: 500px;
	width: 750px;
}

#ind h1,
#ind h4 {
	color: #2e2c9e;
}

.jumbotron {
	width: 100%;
	height: 350px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	text-align: center;
}

.jombotron_ab {
	background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../img/aboutUs.jpeg");
}

.jombotron_con {
	background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../img/contact.jpeg");
}

.jombotron_pf {
	background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../img/portfolio.jpg");
}

.jombotron_ser {
	background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65)), url("../img/service.jpeg");
}

.jumbotron h1,.jumbotron h3, .jumbotron h5, .jumbotron p{
	color: #58acd3;
	font-family: 'Source Sans Pro', serif;
	text-shadow: 0 0 0.2em white;
}

.jumbotron .description{
	font-size:16px;
	font-weight: 700;
	letter-spacing: 4px;
	line-height: 0;
}

.iconLogo{
	height: 30px;
	width: 30px;
	outline: none;
	background-size: cover;
	background-position-x: left;
	background-position-y: top;
	background-repeat: no-repeat;
	background-image: url("../img/logo.png");
	margin: 0 5px;
}

#c1 {
	padding: 0 40%;
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url("../img/utimacoLogo-2.png");
	background-repeat: no-repeat;
	background-size: 85%;
	background-position-x: 55%;
	background-position-y: 57%;
	width: 80%;
	height: 25%;
	margin: 3%;
}

#c2 {
	padding: 0 40%;
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url("../img/rsaLogo.png");
	background-repeat: no-repeat;
	background-size: 63%;
	background-position-x: 55%;
	background-position-y: 40%;
	width: 80%;
	height: 25%;
	margin: 3%;
}

#c3 {
	padding: 0 40%;
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url("../img/SophosLogo.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	width: 80%;
	height: 25%;
	margin: 3%;
}

#c4 {
	padding: 0 40%;
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url("../img/gtbLogo.png");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;
	width: 80%;
	height: 25%;
	margin: 3%;
}

.col6 {
	padding: 3% 0;
}

.col6 img {
	margin-right: 3%;
}

h1 {
	text-transform: uppercase;
	color: #303030;
	font: 400 36px 'Noto Sans', serif;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
	color: #303030;
	font-weight: 600;
	margin-bottom: 30px;
}

h4 {
	font-size: 14px;
	line-height: 1.375em;
	color: #303030;
	font-weight: 400;
	margin-bottom: 30px;
}

.jumbotron {
	background-color: white;
	color: #fff;
	padding: 100px 25px;
	font-family: 'Noto Sans', serif;
}


/* .container-fluid {
    margin: 5vh 2vw;
} */

.bg-grey {
	background-color: #f6f6f6;
}

.logo-small {
	color: #45b4e6;
	font-size: 50px;
}

.logo {
	color: #45b4e6;
	font-size: 200px;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.carousel-control.right,
.carousel-control.left {
	background-image: none;
	color: #45b4e6;
}

.carousel-indicators li {
	border-color: #45b4e6;
}

.carousel-indicators li.active {
	background-color: #45b4e6;
}

.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}

.item span {
	font-style: normal;
}

.panel {
	border: 1px solid #45b4e6;
	border-radius: 0 !important;
	transition: box-shadow 0.5s;
}

.panel:hover {
	box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

.panel-footer .btn:hover {
	border: 1px solid #45b4e6;
	background-color: #fff !important;
	color: #45b4e6;
}

.panel-heading {
	color: #fff !important;
	background-color: #45b4e6 !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.panel-footer {
	background-color: white !important;
}

.panel-footer h3 {
	font-size: 32px;
}

.panel-footer h4 {
	color: rgb(253, 253, 253);
	font-size: 14px;
}

.panel-footer .btn {
	margin: 15px 0;
	background-color: #45b4e6;
	color: #fff;
}

.navbar {
	margin-bottom: 0;
	background-color: #45b4e6;
	z-index: 9999;
	border: 0;
	font-size: 14px !important;
	line-height: 1.5 !important;
	letter-spacing: 4px;
	border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
	color: #fff !important;
	display: flex;
    align-items: center;
	font-weight: 500;
}

.navbar .navbar-brand{
	font-weight: bold;
	letter-spacing: 1.5px;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
	color: #45b4e6 !important;
	background-color: #fff !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
	color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-toggle:focus {
	background-color: #45b4e6 !important;
}

.navbar-toggle:hover {
	background-color: #ffffff77 !important;
}

footer .glyphicon {
	font-size: 20px;
	margin-bottom: 20px;
	color: #45b4e6;
}

.slideanim {
	visibility: hidden;
}

.slide {
	animation-name: slide;
	-webkit-animation-name: slide;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	visibility: visible;
}

.briefcase,
.wrench {
	margin: 20vh 0;
	height: 25vh;
}

.news2,
.b1 {
	display: none;
}

.b2 {
	display: block;
}


@keyframes slide {
	0% {
		opacity: 0;
		transform: translateY(70%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		-webkit-transform: translateY(70%);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0%);
	}
}

@media only screen and (max-width: 768px) {
	.card .cardIcon{
		width:130px;
		height:130px;
		background-color: transparent;
	}
	.card .serviceCard {
		margin-top: 0;
		margin-left: 50px;
	}
	.iconPos{
		filter: invert(0.2);
		width: 180px;
		height: 120px;
		border-radius: 70px;
	}
	.iconPos .title {
		margin-top: 5px;
		font-size:16px;
	}
	.rounded-circle{
		width:25px;
		height:25px;
	}
	.card:nth-child(odd), .card:nth-child(even){
		flex-direction: row;
		border: 4px solid #ccefff;
		border-radius: 150px;
		margin: 12px;
		width: 80%;
	}
	.col-sm-4 {
		text-align: center;
		margin: 25px 0;
		height: 35vh;
	}
	.btn-lg {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 35px auto;
	}
	.news1,
	.b2 {
		display: none;
	}
	.news2,
	.b1 {
		display: block;
		padding-bottom: 3rem;
	}
	.briefcase,
	.wrench {
		margin: 5vh 0;
		height: 25vh;
	}
	.cells{
		flex-wrap: wrap;
		justify-content: center;		
	}
	
	.cells .cell{
		width: 250px;
		height: 150px;
	}
}

@media only screen and (max-width: 554px) {
	.cells{
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.cells .cell{
		width: 170px;
		margin: 10px;
	}
}

@media only screen and (max-width: 480px) {
	.iconPos{
		width: 130px;
	}
	.iconPos .title{
		font-size: 14px;
	}
	.serviceCard .title{
		display: block;
    	margin: 5px 0;
		text-align: center;
	}
	.serviceCard .title img{
		margin-bottom: 10px;
	}
	.card:nth-child(1) .title{
		font-size: 16px;
    	font-weight: bolder;
		margin-left: -88px;
	}
	.card:nth-child(1) .iconPos{
		display: none;
	}
	.card:nth-child(1) .cardIcon{
		margin-top: 10px;
	}
	.card .serviceCard{
		margin-left: 0;
	}
	.card .cardIcon{
		width: 120px;
	}
	.logo {
		font-size: 150px;
	}
	.cells{
		flex-wrap: wrap;
		justify-content: center;
	}
	.card:nth-child(1){
		border-radius: 40px;
	}
	
	.cells .cell{
		height: 100px;
		width: 140px;
		margin: 5px;
	}
	.card:not(:nth-child(1)) .serviceCard li {
		padding-left: 10px;
	}
	.card:nth-child(1) .serviceCard li {
		list-style-type: auto;
		margin-left: -100px;
	}
	.card:nth-child(1) .serviceCard li:last-child {
		margin-bottom: 30px;
	}
}

#serCore {
	margin-bottom: 10%;
}